header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    //上
    .top {
        width: 100%;
        height: 90px;
        background: $mainColor;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;

        .logo {
            width: auto;
            height: auto;

            img {
                height: 69px;
                object-fit: contain;
            }
        }
    
        ul {
            width: auto;
            height: auto;
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
    
            li {
                width: auto;
                margin-right: 25px;
               
                &:last-of-type {
                    margin: 0;
                }
    
                &:hover,&:active,&.active {

                    p {
                        color: $mainColor_3;
                    }

                    i {

                        &.sport {
                            background-position-y: 108%;
                        }
                        &.casino {
                            background-position-y: 109%;
                        }
                        &.live {
                            background-position-y: 107%;
                        }
                        &.event {
                            background-position-y: 107%;
                        }
                    }
                }
    
                a {
                    width: auto;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    i {
                        width: 50px;
                        height: 50px;
                        margin-right: 5px;

                        &.sport {
                            background-position-x: 25%;
                        }
                        &.casino {
                            background-position-x: 50%;
                        }
                        &.live {
                            background-position-x: 75%;
                        }
                        &.event {
                            background-position-x: 100%;
                        }
                    }
    
                    p {
                        color: $mainColor_13;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }
        }

        // 未登入登入區
        .loginArea {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            position: absolute;
            right: 24px;

            .checkBox {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                margin-right: 10px;
                opacity: 0;

                .title {
                    color: $mainColor_13;
                    font-size: 0.85rem;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    user-select: none;

                    i {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 4px 0 4px;
                        border-color: $mainColor_13 transparent;
                        margin-left: 5px;
                    }
                }

                ul {
                    display: none;
                    width: 220px;
                    height: auto;
                    @include bottomList;
                    padding: 20px;
                    position: absolute;
                    top: 25px;
                    left: -20px;
                    z-index: 100;

                    &.display {
                        display: block;
                    }

                    .innerTitle {
                        color: $mainColor_2;
                        font-size: 0.875rem;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    li {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        margin-bottom: 10px;

                        &:first-child {
                            display: none;
                        }

                        &:last-child {
                            margin: 0;
                        }

                        a {
                            width: 100%;
                            height: auto;

                            p {
                                color: $mainColor;
                                font-size: 0.75rem;
                                font-weight: bold;
                                margin-bottom: 2px;
                            }
                        }
                    }
                }
            }

            button {
                @include btnStyle_1;
                background: $mainColor_3;
                color: $mainColor_6;
                padding: 0.5vw 3vw;
                margin-right: 10px;

                &:hover,&:active,&.active {
                    background: $mainColor_16;
                    color: $mainColor_2;
                }

                &:last-child {
                    background: $mainColor_10;
                    color: $mainColor_2;
                    padding: 0.5vw 2vw;
                    margin: 0;

                    &:hover,&:active,&.active {
                        background: $mainColor_11;
                        color: $mainColor_3;
                    }
                }
            }
        }

        // 已登入會員區
        .mem_Area {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;

            // rwd縮排物件
            .checkBox {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                margin-right: 10px;
                opacity: 0;

                .title {
                    color: $mainColor_13;
                    font-size: 0.85rem;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    user-select: none;

                    i {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 4px 0 4px;
                        border-color: $mainColor_13 transparent;
                        margin-left: 5px;
                    }
                }

                ul {
                    display: none;
                    width: 220px;
                    height: auto;
                    @include bottomList;
                    padding: 20px;
                    position: absolute;
                    top: 25px;
                    left: -20px;
                    z-index: 100;

                    &.display {
                        display: block;
                    }

                    .innerTitle {
                        color: $mainColor_2;
                        font-size: 0.875rem;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    li {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        margin-bottom: 10px;

                        &:first-child {
                            display: none;
                        }

                        &:last-child {
                            margin: 0;
                        }

                        a {
                            width: 100%;
                            height: auto;

                            p {
                                color: $mainColor;
                                font-size: 0.75rem;
                                font-weight: bold;
                                margin-bottom: 2px;
                            }
                        }
                    }
                }
            }

            div {
                width: auto;
                height: auto;
                display: flex;
                align-items: center;
                margin-right: 5px;

                &.account {
                    cursor: pointer;

                    i { 
                        color: $mainColor_3;
                        font-size: 1rem;
                        margin-right: 5px;
                    }
                }

                button {
                  
                    &:not(:last-child) {
                        background: $mainColor_6;
                        color: $mainColor_3;
                        font-weight: bold;
                        border-radius: 5px;
                        padding: 1px 4px;
                        margin: 0 5px 0 10px;
                    }
                }

                p {
                    color: $mainColor_3;
                }
            }

            .logoutBtn {
                @include btnStyle_1;
                background: $mainColor_3;
                color: $mainColor_6;
                padding: 0.5vw 1vw;
                margin-left: 20px;

                &:hover,&:active,&.active {
                    background: $mainColor_13;
                    color: $mainColor_3;
                }
            }
        }

        // 平板nav
        .rwd_TOPNav {
            display: none;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            right: 0;

            &.logInner {

                .itemBox {

                    &:not(:last-child) {
                        display: none;
                    }
                }
            }

            .itemBox {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8px;

                &:first-child {
                    svg {
                        margin-left: 5.5px;
                    }
                }

                &:nth-of-type(2) {
                    svg {
                        transform: scale(1.05);
                        margin: 2px 0 0 3px;
                    }
                    p {
                        margin-top: 4px;
                    }
                }

                &.nav {
                    width: 65px;
                    background: $mainColor_15;
                    padding: 8px 0;

                    svg {
                        fill: $mainColor_3;

                    }
                }

                &.active {
                    .hamIC {
                        display: none;
                    }
                }

                svg {
                    width: 21px;
                    height: 21px;
                    fill: $mainColor_15;

                    &.injected-svg {
                        display: none;
                    }
                }

                p {
                    color: $mainColor_3;
                    font-size: 0.9rem;
                    margin-top: 5px;
                    cursor: default;
                }
            }
        }

        // 手機版語言列
        .langBox {
            display: none;
            width: auto;
            height: auto;
            order: 0;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $mainColor_3;
            border-radius: 30px;
           
            p {
                color: $mainColor_3;
                font-size: 4vw;
                margin: 7px 10px;
                white-space: nowrap;
                
                span {
                    margin-left: 25px;
                    position: relative;

                    &::before {
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 4px 0 4px;
                        border-color: $mainColor_3 transparent;
                        position: absolute;
                        top: 50%;
                        left: -13px;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        // 手機版登入
        .mobile_Login {
            display: none;
            width: auto;
            order: 2;
            background: $mainColor_10;
            border-radius: 30px;
            color: $mainColor_2;
            font-size: 4vw;
            font-weight: bold;
            white-space: nowrap;
            padding: 5px 15px;
        }
    }

    //下
    .bottom {
        width: 100%;
        height: 35px;
        background: $mainColor_15;
        position: relative;

        .mid {
            width: 1200px;
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0 auto;

            .searchBox {
                width: auto;
                height: auto;
                position: relative;

                input {
                    width: 187px;
                    height: 27px;
                    @include inputStyle_1;
                }
    
                i {
                    color: $mainColor;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 5px;
                }
            }

            .checkBox {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                margin-left: 10px;

                .title {
                    color: $mainColor_3;
                    font-size: 0.85rem;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    user-select: none;
                    cursor: pointer;

                    i {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 4px 0 4px;
                        border-color: $mainColor_3 transparent;
                        margin-left: 5px;
                    }
                }

                ul {
                    width: 220px;
                    height: auto;
                    @include bottomList;
                    position: absolute;
                    top: 35px;
                    left: -110px;

                    .innerTitle {
                        color: $mainColor_2;
                        font-size: 0.875rem;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    li {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding: 0 5px;
                        margin-bottom: 10px;

                        &:last-child {
                            margin: 0;
                        }

                        label {
                            width: 15px;
                            height: 15px;
                            @include checkboxStyle_1;
                            margin-right: 10px;

                            input {
                                width: 100%;
                                height: 100%;
                                pointer-events: none;
                                opacity: 0;
                                margin: 0;
                            }
                        }

                        p {
                            color: $mainColor;
                            font-size: 0.75rem;
                            font-weight: bold;
                            margin-bottom: 2px;
                        }
                    }
                }
            }

            .time {
                color: $mainColor_3;
                font-size: 0.75rem;
                font-weight: bold;
                margin: 0 0 2px 15px;
            }
        }
    }
}