.login {
    width: 1100px;
    height: auto;
    background: $mainColor_18;
    border-radius: 5px;
    padding: 40px 70px 10px;
    margin: 0 auto;

    .inputArea {
        width: 100%;
        height: auto;

        &>li {
            width: 100%;
            height: auto;
            border-bottom: dotted 1px $mainColor_3;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0;

            .typeName {
                width: auto;
                height: auto;
                display: flex;
                align-items: center;

                p {
                    color: $mainColor;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }

            .rightBox {
                width: 50%;
                height: auto;
                position: relative;
                display: flex;

                .inputBox {
                    width: 100%;
                    height: auto;

                    input {
                        width: 100%;
                        height: 36px;
                        @include inputStyle_1;
                    }
                }
            }
        }
    }

    .check {
        width: 100%;
        height: auto;
        padding: 40px 0;

        .checkBox {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            label {
                width: 15px;
                height: 15px;
                @include checkboxStyle_1;
                margin-right: 10px;

                input {
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    opacity: 0;
                    margin: 0;
                }
            }

            p {
                color: $mainColor_3;
                font-size: 1rem;
                font-weight: bold;
            }
        }

        button {
            width: 150px;
            height: 40px;
            @include btnStyle_1;
            background: $mainColor_3;
            display: block;
            margin: 20px auto 0;
        }
    }
}

.registerBox {
    width: 1100px;
    height: auto;
    background: $mainColor_18;
    border-radius: 5px;
    padding: 20px 0;
    margin: 40px auto;

    p {
        width: 100%;
        color: $mainColor_15;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    button {
        width: 130px;
        height: 30px;
        @include btnStyle_1;
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1200px) {
    .login {
        width: calc(100% - 100px);
    }

    .registerBox {
        width: calc(100% - 100px);
    }
}

@media only screen and (max-width: 767px) {
    .login {

        .inputArea {

            &>li {
                display: block;

                .typeName {
                    margin-bottom: 1rem;
                }

                .rightBox {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .login {
        width: calc(100% - 32px);
        padding: 24px;
        margin: 70px auto 0;

        .check {
            padding: 1rem 0;

            .checkBox {

                p {
                    font-size: 0.75rem;
                }
            }
        }
    }

    .registerBox {
        width: calc(100% - 32px);
    }
}