.center {
    max-width: 1200px;
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    position: relative;

    //左
    .left {
        width: 250px;
        height: auto;
        flex-shrink: 0;
        overflow: hidden;
        transition: all 0.3s;

        .navTitle {
            color: $mainColor_6;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 10px 0;
            border-bottom: 2px solid $mainColor_6;
        }

        ul {
            width: 100%;
            height: auto;
            background: tr;

            li {
                width: 100%;
                height: 50px;
                border-bottom: 1px solid $mainColor_8;
                overflow: hidden;

                &:hover,&:active {
                        
                    a {
                        transform: translateX(-34px);

                        svg {
                            fill: $mainColor_15;
                        }

                        p {
                            color: $mainColor_6;
                        }
                    }
                }

                &.active {

                    a {
                        transform: translateX(-34px);

                        svg {
                            fill: $mainColor_15;
                        }

                        p {
                            color: $mainColor_6;
                        }
                    }
                }

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    transition: 0.3s all;
                    padding: 0 10px;

                    svg {
                        width: 24px;
                        height: 24px;
                        fill: $mainColor_6;
                        margin-right: 10px;
                    }

                    p {
                        color: $mainColor_3;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    //內頁左
    .leftSide {
        width: 250px;
        height: 640px;
        flex-shrink: 0;
        overflow-y: auto;
        padding-right: 5px;
        transition: all 0.3s;
        margin: 20px 0;
        @include scrollbarStyle_1;

        //rwd
        &.active {
            width: 100%;
            background: $filter;
            overflow: hidden;
            position: absolute;
            top: -10px;
            left: 0;
            z-index: 90;

            .navTitle {
                width: 250px;
                background: $mainColor_17;
                padding-left: 10px;
            }

            ul {
                width: 250px;
            }
        }

        .navoutter {
            width: 100%;
            height: auto;

            .navTitle {
                color: $mainColor_6;
                font-size: 1.2rem;
                font-weight: bold;
                padding: 10px 0;
                margin: 10px 0;
            }
    
            ul {
                width: 100%;
                height: auto;
                background: $mainColor_17;
                margin-bottom: 20px;

                &:last-child {
                    margin: 20px 0 0;
                }
    
                li {
                    width: 100%;
                    height: 50px;
                    border: 1px solid transparent;
                    overflow: hidden;
    
                    &:hover,&:active {
                        background: $mainColor_2;
                        border-color: $mainColor_7;
                            
                        a {
                            transform: translateX(20px);
    
                            p {
                                color: $mainColor_7;
                            }
                        }
                    }

                    &.active {
                        background: $mainColor_2;
                        border-color: $mainColor_7;
    
                        a {
                            transform: translateX(20px);
    
                            p {
                                color: $mainColor_7;
                            }
                        }
                    }
    
                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: 0.3s all;
                        padding: 0 10px;
    
                        p {
                            color: $mainColor_3;
                            font-size: 1rem;
                            font-weight: bold;
                        }

                        i {
                            color: $mainColor_8;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }

    //中
    .mainArea {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        overflow: hidden;

        //手機版用上搜尋列
        .searchBox {
            display: none;
            width: 100%;
            height: 9vw;
            margin: 50px 0 2vw;
            position: relative;

            input {
                @include inputStyle_2;
                width: 100%;
                height: 100%;
                font-size: 0.9rem;
                border-width: 2px;
            }

            i {
                width: 5vw;
                height: 5vw;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }

        .featured {
            width: 100;
            height: 70px;
            display: flex;
            align-items: center;
            background: $mainColor_17;
            padding: 0 10px;

            p {
                color: $mainColor_6;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        .swiper {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;

            .swiper-wrapper {
                width: 100%;
                height: auto;

                .swiper-slide {

                    .banner {
                        width: 100%;
                    }
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 20px;
                left: unset;
                right: unset;
                margin: 0;

                &::before,
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 50px;
                    border: 2px solid $mainColor_3;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

                i {
                    color: $mainColor_3;
                    font-size: 20px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }

            .swiper-button-prev {
                right: 80px;
            }
            .swiper-button-next {
                right: 30px;
            }
        }

        .middleNav {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .topnav {
                width: 100%;
                height: auto;
                display: flex;
                border-bottom: 4px solid $mainColor;

                li {
                    width: 20%;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $mainColor_4;
                    border-radius: 5px 5px 0 0;
                    padding: 0 5px;
                    margin-right: 5px;
                    cursor: pointer;

                    &:last-child {
                        margin: 0;
                    }

                    &:hover,&:active,&.active {
                        background: $mainColor_7;

                        p {
                            color: $mainColor_3;
                        }
                    }

                    p {
                        color: $mainColor_3;
                        font-size: 0.9rem;
                        font-weight: bold;
                        @include textHide;
                    }
                }
            }
        }

        .typselect {

            &.swiper02 {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                padding: 20px 10px;
                overflow: hidden;
                position: relative;

                .swiper-wrapper {
                    width: 100%;
                    height: auto;

                    .swiper-slide {
                        width: 20% !important;

                        .gameTypeBox {
                            width: auto;
                            height: auto;
                            border: 3px solid $mainColor_7;
                            border-radius: 8px;
                            padding: 0px 10px 10px;
                            cursor: pointer;
            
                            &:hover,&:active,&.active {
                                background: $mainColor_7;

                                p {
                                    color: $mainColor_3;
                                }

                                .picBox {

                                    svg {
                                        fill: $mainColor_3;
                                    }
                                }
                            }
            
                            .picBox {
                                width: 100%;
                                height: 85px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0 0 5px;
            
                                svg {
                                    width: 24px;
                                    height: 24px;
                                    fill: $mainColor_6;
                                    transform: scale(2.5);
                                }
                            }
            
                            p {
                                color: $mainColor_6;
                                font-size: 1rem;
                                font-weight: bold;
                                text-align: center;
                                @include textHide;
                            }
                        }
                    }
                }

                .swiper-button-prev02,
                .swiper-button-next02 {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    z-index: 10;

                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: $filter;
                        border-radius: 5px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    i {
                        color: $mainColor_3;
                        font-size: 1rem;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        left: 50%;
                    }
                }
                .swiper-button-prev02 {
                    left: 0;
                }
                .swiper-button-next02 {
                    right: 0;
                }
            }
        }

        .countryList {
            width: 100%;
            height: 44px;
            overflow: hidden;

            &.active {
                height: auto;

                .cTitle {
                    i {
                        transform: rotate(90deg);
                    }
                }
            }

            .cTitle {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $mainColor_6;
                color: $mainColor_3;
                font-size: 0.9rem;
                font-weight: bold;
                padding: 15px 20px;
                margin-bottom: 5px;
                cursor: pointer;

                i {
                    transition: transform 0.3s;
                }
            }

            ul {
                width: 100%;
                height: 34px;
                overflow: hidden;
                
                &.active {
                    height: auto;

                    .smallTitle {
                        i {
                            transform: rotate(90deg);
                        }
                    }
                }

                &:not(:first-child) {
                    margin-top: 5px;
                }

                .smallTitle {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: $mainColor_5;
                    color: $mainColor_3;
                    font-size: 0.9rem;
                    font-weight: bold;
                    padding: 10px 20px;
                    margin-bottom: 5px;
                    cursor: pointer;

                    i {
                        transition: transform 0.3s;
                    }

                }

                li {
                    width: 100%;
                    height: 35px;
                    border-left: 1px solid $mainColor_6;
                    border-right: 1px solid $mainColor_6;

                    &:nth-of-type(1) {
                        border-top: 1px solid $mainColor_6;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px dotted $mainColor_6;
                    }

                    &:last-child {
                        border-bottom: 1px solid $mainColor_6;
                    }

                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 20px;

                        p {
                            color: $mainColor;
                            font-size: 0.9rem;
                            font-weight: bold;
                        }

                        i {
                            color: $mainColor;
                            cursor: pointer;

                            &.fa-solid {
                                color: $mainColor_16;
                            }
                        }
                    }
                }
            }
        }

        .gameContent {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 20px 0 0;

            .gtypeTitle {
                @include bigtitle_Line;
                width: 100%;
                color: $mainColor_6;
                font-size: 1.5rem;
                font-weight: bold;
            }

            .content {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 20px;
                padding: 20px 0;

                .gBlock {
                    width: 100%;
                    height: auto;
                    @include gBlock;
                }
            }
        }

        .swiper03 {
            width: 100%;
            height: auto;
            overflow: hidden;
            position: relative;

            .swiper-wrapper {
                width: 100%;
                height: auto;
                display: flex;

                .swiper-slide {
                    width: auto !important;

                    .gBlock {
                        width: 100%;
                        height: auto;
                        @include gBlock;
                    }
                }
            }

            .swiper-button-prev03,
            .swiper-button-next03 {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                z-index: 10;

                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: $filter;
                    border-radius: 5px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                i {
                    font-size: 20px;
                    color: $mainColor_3;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            .swiper-button-prev03 {
                left: 0px;
            }
            .swiper-button-next03 {
                right: 0;
            }
        }
    }

    //比賽內頁
    .gameDetail {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0 5vw 19vw;
        overflow: hidden;

        .topLine {
            width: 100%;
            height: auto;
            @include mobile_Title;
            margin: 0 auto;
        }

        .title {
            color: $mainColor_6;
            font-size: 1.2rem;
            font-weight: bold;
            margin-top: 5vw;
            text-align: center;

            .vs {
                font-size: 0.875rem;
            }
        }

        .subTitle {
            color: $mainColor_9;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            margin: 2vw 0 3vw;
        }

        .topnav {
            width: 100%;
            height: auto;
            display: flex;
            border-bottom: 4px solid $mainColor_7;

            li {
                width: 24%;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $mainColor_7;
                border-radius: 5px 5px 0 0;
                padding: 0 5px;
                margin-right: 5px;
                cursor: pointer;

                &:last-child {
                    margin: 0;
                }

                &:hover,&:active,&.active {
                    background: $mainColor;

                    p {
                        color: $mainColor_3;
                    }
                }

                p {
                    color: $mainColor_3;
                    font-size: 0.9rem;
                    font-weight: bold;
                    @include textHide;
                }
            }
        }

        .pkteam {
            width: 100%;
            height: auto;
            background: $mainColor_17;
            padding: 38px 0;
            margin: 3vw 0;

            .outbox {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;

                .team {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    &:first-child {

                        svg {
                            fill: $mainColor_12;
                        }
                    }
                   
                    svg {
                        width: 24px;
                        height: 24px;
                        fill: $mainColor_6;
                        transform: scale(2.3);
                        margin: 16px 0 30px;
                    }

                    .teamName {
                        color: $mainColor_3;
                        font-size: 0.9rem;
                        font-weight: bold;
                        text-align: center;
                    }
                }

                .VS {
                    color: $mainColor_3;
                    font-size: 1rem;
                    font-weight: bold;
                    flex-shrink: 0;
                }
            }
        }

        .gTitle {
            width: 100%;
            color: $mainColor_6;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0 10px 10px;
            position: relative;

            &::before {
                content: "";
                display: none;
                width: 30%;
                height: 5px;
                background: $mainColor_5;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 10;
            }

            &::after {
                content: "";
                width: 100%;
                height: 4px;
                background: $mainColor;
                position: absolute;
                left: 0;
                bottom: 0;
            }

            .hint {
                width: 8vw;
                height: 8vw;
            }
        }

        .info_content {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2.5vw 0;
            margin-bottom: 5vw;

            .infoBlock {
                width: 49%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $mainColor_17;
                border-radius: 8px;
                padding: 1.8vw 1.5vw;
                cursor: pointer;

                &:hover,&:active {
                    background: $mainColor_6;
                }

                &.active {
                    background: $mainColor_6;
                }

                p {
                    color: $mainColor_3;
                    font-size: 0.975rem;
                    @include textHide;
                }

                .rateBtn {
                    width: auto;
                    height: auto;
                    background: $mainColor_6;
                    border-radius: 8px;
                    color: $mainColor_3;
                    font-size: 0.875rem;
                    font-weight: bold;
                    padding: 3vw 4vw;
                }
            }
        }
    }

    //右
    .right {
        width: 300px;
        height: auto;
        max-height: 2315px;
        flex-shrink: 0;
        overflow: hidden;
        margin-top: 20px;

        .betBlock {
            width: 100%;
            height: auto;
            background: $mainColor_17;
            border-radius: 10px;
            position: relative;
            overflow: hidden;

            .topList {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: space-between;

                li {
                    width: auto;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    padding: 0 10px;

                    &::before {
                        display: none;
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: $mainColor_7;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }

                    &:hover,&:active,&.active {

                        &::before {
                            display: block;
                        }

                        p {
                            color: $mainColor_6;
                        }
                    }
                    
                    p {
                        color: $mainColor_9;
                        font-size: 0.975rem;
                        font-weight: bold;
                        @include textHide;
                    }
                }
            }

            .betTypeList {
                width: 100%;
                height: auto;
                background: $mainColor_18;
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    width: auto;
                    height: auto;
                    position: relative;

                    &:hover,&:active {

                        &::before {
                            display: block;
                        }
                      

                        a {
                            
                            p {
                                color: $mainColor_6;
                            }
                        }
                    }

                    &.active {
                        
                        &::before {
                            display: block;
                        }
                      

                        a {
                            
                            p {
                                color: $mainColor_6;
                            }
                        }
                    }
                    
                    &::before {
                        display: none;
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: $mainColor_7;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }

                    a {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        @include textHide;
                        padding: 0 5px;

                        p {
                            color: $mainColor_9;
                            font-size: 1rem;
                            font-weight: bold;
                        }
                    }
                }
            }

            .betContent {
                width: 100%;
                height: auto;
                min-height: 275px;
                
                .noData {
                    display: none;
                    width: 100%;
                    height: auto;

                    &.display {
                        display: block;
                    }

                    p {
                        color: $mainColor_3;
                        font-size: 1rem;
                        font-weight: bold;
                        text-align: center;
                        margin: 30px 0;
                    }
                }

                .betData {
                    display: none;
                    width: 100%;
                    height: auto;

                    &.display {
                        display: block;
                    }

                    .bdOuter {
                        width: 100%;
                        max-height: 2040px;
                        padding: 15px 10px;
                        overflow: overlay;
                        @include scrollbarStyle_1;
                        
                        // 投注注單
                        .betDetail {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            border-radius: 5px;

                            &:not(:first-child) {
                                margin-top: 10px;
                            }

                            .bdTitle {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                background: $mainColor_19;
                                border-radius: 5px;
                                padding: 5px;
                                margin-bottom: 15px;
                                position: relative;

                                svg {
                                    width: 24px;
                                    height: 24px;
                                    fill: $mainColor_9;
                                }

                                p {
                                    color: $mainColor_9;
                                    font-size: 0.975rem;
                                    font-weight: bold;
                                    position: absolute;
                                    @include textHide;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }

                            .bdContent {
                                width: 100%;
                                background: $mainColor_2;
                                padding: 1rem;
                                border-radius: 5px;
                                border: 1px solid $mainColor_7;
                                padding: 0 10px 10px;

                                .top {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding: 5px 0;

                                    span {
                                        background: $mainColor_6;
                                        color: $mainColor_3;
                                        font-size: 0.9rem;
                                        font-weight: bold;
                                        border-radius: 5px;
                                        padding: 5px;
                                    }

                                    i {
                                        color: $mainColor_6;
                                        font-size: 1.8rem;
                                        cursor: pointer;
                                    }
                                }

                                .pkTeam {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: $mainColor_17;
                                    border-radius: 5px;
                                    padding: 10px;

                                    .team {
                                        width: 45%;
                                        height: auto;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;

                                        &.win {

                                            svg {
                                                opacity: 1;
                                            }
                                          
                                        }

                                        &:last-child {
                                            svg {
                                                fill: $mainColor_6;
                                            }
                                        }

                                        svg {
                                            width: 35px;
                                            height: 35px;
                                            fill: $mainColor_12;
                                            opacity: 0.2;
                                            margin: 10px 0;
                                        }

                                        .teamName {
                                            min-height: 32px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            color: $mainColor_3;
                                            font-size: 0.875rem;
                                            text-align: center;
                                        }
                                        
                                    }

                                    .VS {
                                        color: $mainColor_15;
                                        font-size: 1rem;
                                        font-weight: bold;
                                        margin: 0 10px;
                                    }
                                }

                                .wintext {
                                    color: $mainColor_6;
                                    font-size: 0.975rem;
                                    font-weight: bold;
                                    margin: 10px 0;
                                }

                                .betwin {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding: 10px;
                                    border: 1px solid $mainColor_7;
                                    border-radius: 5px;
                                    margin-bottom: 10px;

                                    p {
                                        color: $mainColor_6;
                                    }
                                }

                                .betamount {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding-bottom: 15px;
                                    margin-bottom: 10px;
                                    border-bottom: 1px solid $mainColor_15;
                                    position: relative;

                                    p {
                                        color: $mainColor_9;
                                        font-size: 0.875rem;
                                        position: absolute;
                                        top: 50%;
                                        left: 3%;
                                        transform: translateY(-90%);
                                    }

                                    input {
                                        width: 100%;
                                        border: none;
                                        padding: 7px 10px;
                                        border: 1px solid $mainColor_7;
                                        border-radius: 5px;
                                        text-align: right;
                                    }
                                }

                                .return {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;

                                    span {
                                        color: $mainColor_3;
                                        font-size: 0.975rem;

                                        &:first-child {
                                            background: $mainColor_15;
                                            border-radius: 5px;
                                            padding: 5px 4px 5px 5px;
                                            margin-right: 10px;
                                        }

                                        &.num {
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .betTotal {
                        width: 100%;

                        li {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 10px;

                            &:last-child {
                                padding: 10px 10px 20px;
                            }

                            p {
                                color: $mainColor_6;
                                font-weight: bold;
                            }

                            span {
                                color: $mainColor_3;
                                @include textHide;
                            }

                            .changeBtn {
                                width: 60px;
                                height: 30px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                background: $mainColor_9;
                                border-radius: 50px;
                                cursor: pointer;

                                &.active {
                                    background: $mainColor_10;

                                    i {
                                        display: block;
                                    }
                                }

                                i {
                                    display: none;
                                    color: $mainColor_11;
                                    font-size: 1rem;
                                    font-weight: bold;
                                    margin: auto;
                                }

                                span {
                                    width: 25px;
                                    height: 25px;
                                    background: $mainColor_3;
                                    border-radius: 50px;
                                }
                            }

                           .okBtn {
                                background: $mainColor_7;
                                border-radius: 50px;
                                color: $mainColor_3;
                                font-size: 0.875rem;
                                font-weight: bold;
                                font-size: 1.1rem;
                                padding: 0.5vw 1vw;
                                margin: auto;

                                &:hover,&:active,&.active {
                                    background: $mainColor_5;
                                }
                           }
                        }
                    }
                }
            }

            //注單總計
            .smallFilter {
                width: 100%;
                height: 100%;
                background: $filter;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 150px;
                    height: 40px;
                    @include btnStyle_1;
                }
            }

            .closeRight {
                display: none;
                width: 100%;
                height: 47px;
                align-items: center;
                justify-content: center;
                background: $mainColor;
                cursor: pointer;
                z-index: 1;

                p {
                    color: $mainColor_3;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }
    }

    //aside
    aside {

        &.betRecordBtn {
            display: none;
            width: 75px;
            height: 75px;
            @include betRecordBtn;
            position: fixed;
            bottom: 30px;
            right: 30px;
            z-index: 99;
            cursor: pointer;

            .betCount {
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $mainColor_10;
                border-radius: 50px;
                position: absolute;
                right: -8px;

                &:nth-of-type(1) {
                    top: 5px;

                    p {
                        color: $mainColor_2;
                    }
                }

                &:nth-of-type(2) {
                    background: $mainColor_5;
                    bottom: 5px;
                }

                p {
                    color: $mainColor_3;
                }
            }
        }
    }
}

    
