html {
    width: 100%;
    height: auto;
    background: $mainColor_2;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 

    body {
        width: 100%;
        height: auto;

        main {
            width: 100%;
            height: auto;
            padding-top: 125px;

            &.innerPage {
                padding-top: 120px;

                .left {
                    display: none;
                }
            }
        }
    }

    @import "./header";
    @import "./login";
    @import "./register";
    @import "./memberPage";
    @import "./betPage";
    @import "./servicePage";
    @import "./settingPage";
    @import "./settingACPW";
    @import "./overView";
    @import "./jumpWIndow";
    @import "./message";
    @import "./mainWrap";
    @import "./footer";
}

