.register {
    width: 1100px;
    height: auto;
    background: $mainColor_18;
    border-radius: 5px;
    padding: 40px 70px 10px;
    margin: 0 auto;

    .bigTitle {
        width: 100%;
        height: auto;
        margin-bottom: 40px;

        p {
            color: $mainColor;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        span {
            color: $mainColor_3;
            font-size: 0.875rem;
            font-weight: bold;
        }
    }

    .inputArea {
        width: 100%;
        height: auto;

        &>li {
            width: 100%;
            height: auto;
            border-bottom: dotted 1px $mainColor_3;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0;

            .typeName {
                width: auto;
                height: auto;
                display: flex;
                align-items: center;

                svg {
                    fill: $mainColor;
                    margin-right: 20px;
                }

                p {
                    color: $mainColor;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }

            .rightBox {
                width: 50%;
                height: auto;
                position: relative;
                display: flex;

                .inputBox {
                    width: 100%;
                    height: auto;
                    position: relative;
                    margin-right: 10px;

                    &:nth-last-of-type(1) {
                        margin: 0;
                    }

                    input {
                        width: 100%;
                        height: 36px;
                        @include inputStyle_1;

                        &.phone {
                            padding-left: 60px;
                        }
                    }

                    select {
                        width: 100%;
                        height: 36px;
                        @include inputStyle_1;
                    }

                    div {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        margin-right: 10px;

                        span {
                            color: $mainColor_3;
                            font-size: 1rem;
                            font-weight: bold;
                            flex-shrink: 0;
                            margin-right: 10px;
                        }
                    }

                    .remind {
                        width: 100%;
                        color: $mainColor_3;
                        font-size: 0.85rem;
                        line-height: 1rem;
                        margin-top: 10px;
                    }

                    .arrow {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 4px 0 4px;
                        border-color: $mainColor_2 transparent;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }

                    .chooseCountry {
                        width: 60px;
                        height: 36px;
                        position: absolute;
                        top: 0;
                        left: 0;

                        .flagBox {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            .flag {
                                width: 24px;
                                height: 24px;
                                margin-left: 10px;
                            }
                        }

                        ul {
                            width: 220px;
                            height: auto;
                            @include bottomList;
                            position: absolute;
                            top: 40px;
                            left: -175px;
                            z-index: 100;
        
                            .innerTitle {
                                color: $mainColor_2;
                                font-size: 0.875rem;
                                font-weight: bold;
                                display: flex;
                                align-items: center;
                                margin-bottom: 20px;
                            }

                            .flag {
                                width: 24px;
                                height: 24px;
                                margin-right: 10px;
                            }
        
                            ol {
                                width: 100%;
                                height: auto;
                                max-height: 160px;
                                @include scrollbarStyle_1;
                                overflow-y: overlay;

                                li {
                                    width: 100%;
                                    height: auto;
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;
                                    padding: 0 5px;
                                    margin-bottom: 10px;
            
                                    &:last-child {
                                        margin: 0;
                                    }
            
                                    label {
                                        width: 10px;
                                        height: 10px;
                                        @include checkboxStyle_1;
                                        margin-right: 10px;
            
                                        input {
                                            width: 100%;
                                            height: 100%;
                                            pointer-events: none;
                                            opacity: 0;
                                            margin: 0;
                                        }
                                    }
            
                                    p {
                                        color: $mainColor;
                                        font-size: 0.75rem;
                                        font-weight: bold;
                                        margin-bottom: 2px;
                                    }
                                }
                            }
                        }
                    }

                    .eye {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        cursor: pointer;
                    }

                    .sercurity {
                        width: 100%;
                        height: auto;
                        border-bottom: solid 1px $mainColor_3;
                        padding: 10px 0;

                        p {
                            color: $mainColor_3;
                            font-size: 1rem;
                            font-weight: bold;
                        }
                    }
                }

                .must {
                    width: auto;
                    height: auto;
                    background: $mainColor;
                    border-radius: 3px;
                    color: $mainColor_3;
                    font-size: 0.75rem;
                    font-weight: bold;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -50px;
                    padding: 5px;
                }
            }
        }
    }

    .check {
        width: 100%;
        height: auto;
        padding: 40px 0;

        .checkBox {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            label {
                width: 15px;
                height: 15px;
                @include checkboxStyle_1;
                margin-right: 30px;
                flex-shrink: 0;

                input {
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    opacity: 0;
                    margin: 0;
                }
            }

            p {
                color: $mainColor_3;
                font-size: 1rem;
                font-weight: bold;
                line-height: 1.5rem;

                a {
                    color: $mainColor_16;
                }
            }
        }

        button {
            width: 150px;
            height: 40px;
            @include btnStyle_1;
            display: block;
            margin: 20px auto 0;
        }
    }
}

.loginBox {
    width: 1100px;
    height: auto;
    background: $mainColor_18;
    border-radius: 5px;
    padding: 20px 0;
    margin: 40px auto;

    p {
        width: 100%;
        color: $mainColor_15;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    button {
        width: 130px;
        height: 30px;
        @include btnStyle_1;
        display: block;
        background: $mainColor_3;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1200px) {
    .register {
        width: calc(100% - 100px);
    }

    .loginBox {
        width: calc(100% - 100px);
    }
}

@media only screen and (max-width: 840px) {
    .register {
        
        .bigTitle {
            text-align: center;
        }

        .inputArea {

            &>li {
                display: block;

                .typeName {
                    margin-bottom: 1rem;
                }

                .rightBox {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 670px) {
    .register {

        .inputArea {

            &>li {

                .rightBox {

                    .inputBox {

                        .remind {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .register {
        width: calc(100% - 32px);
        margin: 70px auto 0;

        .inputArea {

            &>li {

                &:nth-of-type(3) {

                    .rightBox {
                        flex-wrap: wrap;

                        .inputBox {
                            width: calc(50% - 5px);
                            
                            &:nth-of-type(1) {
                                width: 100%;
                                margin: 0 0 10px 0;
                            }
                        }
                    }
                }
            }
        }

        .check {
            padding: 1rem 0;

            .checkBox {

                p {
                    font-size: 0.75rem;
                }
            }
        }
    }

    .loginBox {
        width: calc(100% - 32px);
    }
}